rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read, write: if request.auth != null && 
        (request.auth.token.email == "kianoshsolheim@gmail.com" || 
         request.auth.token.email == "kianosh@solheim.online");
    }
    match /uploads/{allPaths=**} {
      allow read: if true;
    }
  }
}
